.slider {
    width: 200px;
    position: relative;
    border: 1px solid #999;
    margin: 10px;
    height: 0;
    cursor: pointer;

    &-control {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid;
        background-color: #ccc;
        transform: translate(-50%, -50%);
        cursor: pointer;
        outline: 0;
    }
}